<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 
<body>
    <%- include('./partials/nav.ejs') %> 
    <div class="About Content">
        <h2>About Me</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse provident fuga temporibus molestiae ea voluptates hic blanditiis doloribus laboriosam animi, rem, quos veniam nam harum tempore quidem nostrum accusamus officia!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore enim sequi repudiandae veniam, reprehenderit doloribus dignissimos quod tempore optio quam, dolor officia deleniti, error quis. Veritatis nihil nulla cumque iure.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente fugiat eveniet dignissimos laboriosam iure distinctio atque omnis blanditiis, tempora aliquid ad fugit odit aliquam harum maxime voluptas inventore, veniam corporis!</p>
    </div>
    <%- include('./partials/footer.ejs') %> 
</body>
</html>
